#container,
body {
  display: flex;
  height: 100vh;
}
@font-face {
  font-family: ee;
  src: url("../res/ee.ttf");
}
body {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #00020c;
}
